<div class="container">
  <h1>Tweet now</h1>


  <form id='tweetform' action='/tweet' method='post'>
    <input id="tweet_text" type='text' name='tweet' placeholder='Tweet Here'>
    <input type='submit' value='Submit' class='button'>
  </form>

</div>
